<!--    ПОКАЗЫВАЕМ ХЕДЕР-->
<!--<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">-->
  <app-header></app-header>
<!--</nav>-->

<!--    ПОКАЗЫВАЕМ СТАТИСТИКУ-->
<app-stat></app-stat>


<div class="row mb-4">
  <!--ЭТО HTML ГЛАВНОГО КОМПАНЕНТА, КОТОРЫЙ АККУМУЛИРУЕТ В СЕБЕ ДОЧЕРНИЕ КОМПАНЕНТЫ-->
  <!--ЗДЕСЬ В ТЕГАХ <app-... ПЕРЕДАЕМ В КЛАССЫ ДОЧЕК МАССИВЫ categories И tasks   -->
  <!--А В КЛАССАХ ДОЧЕК ПРИМЕМ ЭТИ МАССИВЫ С ПОМ ДЕКОРАТОРА @Input() -->

  <!--    ПОКАЗЫВАЕМ ЛЕВЫЙ СПИСОК С КАТЕГОРИЯМИ-->
  <!--[categories]="categories" это передаем к дочернему в @Input()    -->
  <!--(selectCategory)="onSelectCategory($event)" это получаем из дочернего @Output()
      и в родительском app.component.ts запустится метод onSelectCategory($event)-->
  <div class="col-lg-2 col-md-6 mb-md-0 mb-4">
    <app-categories [categories]="categories"
                    [selectedCategory]="selectedCategory"

                    (deleteCategory)="onDeleteCategory($event)"
                    (updateCategory)="onUpdateCategory($event)"
                    (addCategory)="onAddCategory($event)"

                    (searchCategory)="onSearchCategory($event)"
                    (selectCategory)="onSelectCategory($event)">

    </app-categories>
  </div>


  <!--    ПОКАЗЫВАЕМ ТАБЛИЦУ С ТАСКАМИ-->
  <div class="col-lg-7 col-md-6 mb-md-0 mb-4">
    <div class="card">
      <div class="card-body px-0 pb-2">
        <app-tasks [tasks]="tasks"
                   [priorities]="priorities"

                   (filterByTitle)="onSearchTasks($event)"
                   (filterByStatus)="onFilterTasksByStatus($event)"
                   (filterByPriority)="onFilterTasksByPriority($event)"

                   [selectedCategory]="selectedCategory"
                   (addTask)="onAddTask($event)"
                   (updateTask)="onUpdateTask($event)"
                   (deleteTask)="onDeleteTask($event)"
                   (selectCategory)="onSelectCategory($event)"
        ></app-tasks>
      </div>
    </div>
  </div>

<!--  две колонки пусть будут пустые-->
  <div class="col-lg-1"></div>

</div>


<app-footer></app-footer>
