<div class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3
   ms-3 bg-gradient-dark" id="sidenav-main">

  <!--В ЭТОМ ПРЕДСТАВЛЕНИИ ПОКАЗЫВАЕМ СПИСОК UL-LI ДЕЛАЯ ИЗ КАЖДОГО ПУНКТА - ССЫЛКУ-->

  <div class="sidenav-header">

<!--    заголовок всего списка слово:КАТЕГОРИИ-->
    <a class="navbar-brand m-0">
      <img src="../assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold text-white">Категории</span>
    </a>
  </div>

<!--  линия под заголовком-->
  <hr class="horizontal light mt-0 mb-2">

  <div class="w-auto" id="sidenav-collapse-main">

    <ul class="navbar-nav">

<!--      слово:ВСЕ-->
      <!-- виртуальная категория 'Все' (тк такой категории в class TestData не создавали
            а в метод вместо категории посылаем null)-->
      <li class="nav-item category" (click)="showTaskByCategory(null)" >
        <a class="nav-link pointer text-white bg-gradient-primary" [ngClass]="{'active': selectedCategory === null}">
          <!--          название категории (можно в дальнейшем стилизовать с помощью класса)-->
          <span class="all-category-title">Все категории</span>
        </a>
      </li>



      <!--линии разделяет "ВСЕ категории" от "существующих"-->
      <hr class="horizontal light mt-2 mb-2">
      <hr class="horizontal light mt-0 mb-2">
      <hr class="horizontal light mt-0 mb-2">
<!--      <div class="line"></div>-->




      <!--  .pointer ЭТО НАШ СТИЛЬ В ФАЙЛЕ СТИЛЕЙ ДЛЯ ЭТОГО КОМПОНЕНТА
      (МЫШКА ПРЕВРАЩАЕТСЯ В РУКУ КОГДА НАВОДИМ КУРСОР НА ССЫЛКУ)
       выражение [class.active]="category === selectedCategory" аналогично
       выражению [ngClass]="{'active': category === selectedCategory}"
       -->
<!--ДЛЯ ОТОБРАЖЕНИЯ ИКОНКИ РЕДАКТИРОВАНИЯ КАТЕГОРИИ(ПОЯВЛЯЕТСЯ ПРИ НАВЕДЕНИИ МЫШИ :
      let index = index - заводим системный index(те каждой ячейки с категорией
      будет присвоен свой индекс).
      (mouseleave)="showEditIcon(null)" - метод вызывается при убирании мышки с категории
      (mouseenter)="showEditIcon(index)" - метод вызывается при наведении мышки на категорию -
      в этом методе: метод showEditIcon(index) получает индекс ячейки
      на которую навели мышкой и записывает его в переменную indexMouseMove.
      Далее в теге <span с кнопкой редактирования категории :
      *ngIf="indexMouseMove === index" - (помним, что каждая ячейка в колонке имеет свой индекс - index)
      и в этом условии мы показываем иконку только в той ячейки, index которой совпадает
      со значением переменной indexMouseMove(а совпвдение в том случае - если на ячейку навели курсор).

      -->
      <li class="nav-item pointer"
          *ngFor="let category of categories let index = index "
          (click)="showTaskByCategory(category)"

          (mouseleave)="showEditIcon(null)"
          (mouseenter)="showEditIcon(index)">

        <a class="nav-link text-white bg-gradient-primary all-category-title"
           [ngClass]="{ 'active': category === selectedCategory}">

          <!--          название категории в теге <a -->
          <span class="nav-link-text ms-1 category-title">{{category.title}}</span>

          <!--         кнопка редактирования категории в том же теге <a -->
          <span class="edit-category-icon-area">

            <mat-icon
              *ngIf="indexMouseMove === index"


              class="edit-category-icon"
            >edit
            </mat-icon>
          </span>
        </a>
        <!--              (click)="$event.stopPropagation(); openEditDialog(category)"-->
      </li>
    </ul>
  </div>
  <!--ПОМНИМ ЧТО В ЭТОЙ ВЬЮХЕ МЫ ВИДЕМ 2-Е ПЕРЕМЕННЫЕ: categories: Category[]  И  selectedCategory: Category     -->
<!--В ТЕГЕ LI: *ngFor="let category of categories" ИДЕМ ЦИКЛОМ ПО ПЕРЕМЕННОЙ categories: Category[] И ТО МНОЖИМ ТЕГИ LI  -->
<!--ПОСЛЕ ТОГО КАК МЫ РАЗМНОЖИЛИ ТЕГИ LI МЫ ЗАХОТИМ КЛИКНУТЬ ПО ОДНОМУ ИЗ НИХ:  -->
<!--(click)="showTaskByCategory(category)" , ОЗНАЧАЕТ, ЧТО ПРИ КЛИКЕ ПО ОПРЕДЕЛЕННОЙ КАТЕГОРИИ(ТК ЭТО ССЫЛКА)
  МЫ ВЫЗЫВАЕМ МЕТОД showTaskByCategory(category) В КОТОРОМ ИНИЦИАЛИЗУЕСЯ ВТОРАЯ ПЕРЕМЕННАЯ selectedCategory: Category
  и в Observable (Издателе) обновятся раздаваемые им данные (отфильтруются по кликнутой категории)-->
<!--ПОСЛЕ ТОГО КАК МЫ КЛИКНУЛИ ПО ОДНОМУ ИЗ ПУНКТОВ LI МЫ ХОТИМ ЧТОБЫ ОТ ВИЗУАЛЬНО СТАЛ АКТИВНЫМ:  -->
<!--В ТЕГЕ А: [class.active]="category === selectedCategory" ОЗНАЧАЕТ, ЧТО ПРИ ВЫПОЛНЕНИИ УСЛОВИЯ: category === selectedCategory
  К ТЕГУ А ДОБАВИТСЯ ЕЩЕ ПЛЮСОМ И КЛАСС .active, ТЕ ССЫЛКА СТАНЕТ ВИЗУАЛЬНО ВЫБРАННОЙ-->
</div>
