.pointer {
  cursor: pointer;
}

.active {
  color: #1A73E8 !important;
}


.edit-category-icon-area {
  width: 15%;
  display: inline-block;
  text-align: left;
  font-size: 13px
}

.category-title {
  width: 70%;
  display: inline-block;
  font-size: 16px;
}

.all-category-title {
  width: 85%;
  display: inline-block;
  font-size: 16px;
}

.edit-category-icon {
  color: #dadada;
}

/*перебил бутстраповский класс*/
.mat-unthemed {
  background-color:#4caf50 !important;
}

#categories{
  width: 100%;
  /*overflow-x: hidden; !* чтобы не было гориз. прокрутки *!*/
  /*overflow-y: hidden;*/
}
span.add-icon-area {
  width: 30%;
  display: inline-block; /* в линию */
  text-align: left;
}
.nav-title {
  width: 70%;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle
}
.add-icon {
  cursor: pointer;
  font-size: 30px;
  vertical-align: middle;

}

.sidebar-background {
  background-image: url(../../../assets/img/home-decor-1.jpg) !important;
}

.my-height {
  height: 100%;
}
