<div class="table-responsive">
  <table class="table  mb-0">

    <thead>
    <tr>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">№</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Название</th>
      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Выполнение</th>
      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Приоритет</th>
      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Категория</th>
      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Дата</th>
    </tr>
    </thead>



    <tbody>
    <tr *ngFor="let task of tasks">

      <td class="align-middle text-center text-sm">
        <span class="text-xs font-weight-bold"> {{task.id}} </span>
      </td>

      <td class="align-middle text-center text-sm">
        <span class="text-xs font-weight-bold"> {{task.title}} </span>
      </td>

      <td class="align-middle text-center text-sm">
        <span class="text-xs font-weight-bold"> {{task.completed}} </span>
      </td>

      <td class="align-middle text-center text-sm">
        <span class="text-xs font-weight-bold"> {{task.priority}} </span>
      </td>

      <td class="align-middle text-center text-sm">
        <span class="text-xs font-weight-bold"> {{task.category}} </span>
      </td>

      <td class="align-middle text-center text-sm">
        <span class="text-xs font-weight-bold"> {{task.date}} </span>
      </td>


    </tr>

    </tbody>
  </table>
</div>

