<div class="table-responsive">
  <table class="table  mb-0">

    <thead>
    <tr>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Название</th>
      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Выполнение</th>
      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Приоритет</th>
      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Категория</th>
      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Дата</th>
    </tr>
    </thead>



    <tbody>
    <tr *ngFor="let task of tasks; let i = index"
        [class.completed]="!task.completed">

      <td class="align-middle text-center text-sm">
        <span class="text-xs font-weight-bold"> {{i + 1}} </span>
      </td>

      <td class="align-middle text-center text-sm">
        <span class="text-xs font-weight-bold"> {{task.title}} </span>
      </td>

<!--      галочка на выполнение-->
<!--      вместо {{task.completed}} ставим <div class="form-check...-->
      <td class="align-middle text-center text-sm">
        <span class="text-xs font-weight-bold">
          <div class="form-check form-switch ps-0 is-filled">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" [checked]="task.completed"
                        (click)="toggleTaskCompleted(task)">
                      </div>
        </span>
      </td>


      <td class="align-middle text-center text-sm" [class.novalue]="task.category == null">
        <span class="text-xs font-weight-bold"> {{task.priority != null ? task.priority.title : 'Без приоритета'}} </span>
      </td>

      <td class="align-middle text-center text-sm" [class.novalue]="task.category == null">
        <span class="text-xs font-weight-bold"> {{task.category != null ? task.category.title : 'Без категории'}} </span>
      </td>

      <td class="align-middle text-center text-sm" [class.novalue]="task.category == null">
        <span class="text-xs font-weight-bold"> {{task.date != null ? (task.date | date : 'short') : 'Без даты'}} </span>
      </td>


    </tr>

    </tbody>
  </table>
</div>

